@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-xl
}

@layer components {
  .text-field {
    @apply mt-2 block bg-gray-100 rounded-md py-2 px-3 w-[300px]
      focus:outline outline-2 focus:outline-blue-300 focus:bg-transparent
  }

  button:disabled {
    @apply opacity-50 cursor-not-allowed bg-gray-400 text-white  !important;
  }
}
